<div>
  <div class="chat__root">
    <div class="chat__sidebar">
      <div class="chat__header">
        <h1 class="chat__title">{{title}}</h1>
        <a href="/profile.html" class="chat__link">{{profile.title}}</a>
      </div>
      {{{Form}}}
      {{{Separator}}}
      <div class="chat__previews">
        {{#if showCreateChatButton}}{{{CreateChatButton}}}{{else}}{{{ChatPreviews}}}{{/if}}
      </div>
    </div>
    {{{ChatView}}}
    {{{OptionsMenu}}}
  </div>
  {{{AddUsersToChatModal}}}
  {{{DeleteUsersFromChatModal}}}
</div>

