{{#with pages.profile}}
<div class="profile__root">
    <h1 class="profile__title">{{ title }}</h1>
    
    <div class="profile__avatar" data-text-avatar="{{avatar.text}}">
    <img src="{{ avatar.src }}" alt="{{ avatar.alt }}" class="profile__avatar-image" />
    </div>

    {{> dataView context="profile" }}

    <a href="settings.html" class="profile__button">{{ editProfileButtonTitle }}</a>
    <a href="password.html" class="profile__button">{{ editPasswordButtonTitle }}</a>
    <button class="profile__button profile__button--destructive">{{ logoutButtonTitle }}</button>
</div>

{{#with modal.uploadAvatar}}
    {{#if visible}}
        {{#> modal }}
            <h1 class="profile__title">{{title}}</h1>
            {{> form context="profile" }}
            <span class="profile__error">{{error}}</span>
        {{/modal}}
    {{/if}}
{{/with}}

{{/with}}
