{{#with pages.profile}}
<div class="profile_root">
    <h1 class="profile_title">{{ title }}</h1>
    
    <div class="profile_avatar" data-text-avatar="{{avatar.text}}">
    <img src="{{ avatar.src }}" alt="{{ avatar.alt }}" class="profile_avatar-image" />
    </div>

    {{> dataView context="profile" }}

    <a href="profile_edit.html" class="profile_button">{{ editProfileButtonTitle }}</a>
    <a href="password_edit.html" class="profile_button">{{ editPasswordButtonTitle }}</a>
    <button class="profile_button profile_button--destructive">{{ logoutButtonTitle }}</button>
</div>
{{/with}}