<div>
  <div class="profile__root">
    <h1 class="profile__title">{{title}}</h1>
    {{{ProfileAvatar}}}
    {{{Table}}}
    {{{SettingsButton}}}
    {{{PasswordButton}}}
    {{{LogoutButton}}}
  </div>
  {{{Modal}}}
</div>
