<div>
  <div class="profile__root">
    <h1 class="profile__title">{{title}}</h1>
    {{{ProfileAvatar}}}
    {{{Table}}}
    <a
      href="settings.html"
      class="profile__button"
    >{{editProfileButtonTitle}}</a>
    <a
      href="password.html"
      class="profile__button"
    >{{editPasswordButtonTitle}}</a>
    {{{LogoutButton}}}
  </div>
  {{{Modal}}}
</div>
