<div class="field">
  <input
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    class="field__input"
    placeholder="{{label}}"
    required="true"
  />
  <label for="{{name}}" class="field__label">{{label}}</label>
</div>