<div class="field">
  <input
    id="{{name}}"
    name="{{name}}"
    type="{{type}}"
    class="field_input"
    placeholder="{{label}}"
  />
  <label for="{{name}}" class="field_label">{{label}}</label>
</div>